*{
  margin: 0;
  padding: 0;
}
.open-sans-full{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
.laila-bold {
    font-family: "Laila", serif;
    font-weight: 700;
    font-style: normal;
  }
body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

:root{
    --primary-color:#00A651;
    --primary-shade:#005F15;
    --gray:#666666;
    --transition: all 0.3s ease-in-out;
}
/* hero section  */
.fitsum{
    /* background-color: pink; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(72, 72, 72, 0) 31.25%, rgba(158, 158, 158, 0) 90.6%, #FFFFFF), url("assets/hero.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;

    header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 140px;
        
        ul{
            display: flex;
            gap: 60px ;
        }
        li{
            list-style: none;
            font-size: 20px;
            font-weight: 600;
            line-height: 27.24px;
            text-align: center;
            cursor: pointer;
        }
    }

    h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 24.6px;
        text-align: center;
        cursor: pointer;
        font-family:"Laila", serif;
}
    .user{
        gap:20px;
        display: flex;

}
.user i{
    cursor: pointer;
    font-size: 30px;
}
.icon-color{
    color: #FF7A00;
}


}
/* main heading part */
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 779px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    h1{
        /* font-size: 75px; */
        font-weight: 800;
        line-height: 102.14px;
        font-size: clamp(75px, 2vw + 1rem, 50px);
    }
    p{
        font-size: 16px;
        font-weight: 200;
        line-height: 21.79px;
        width: 568px;
        margin: 50px 0 30px;
    }
    button {
        font-size: 24px;
        font-weight: 600;
        line-height: 32.68px;
        height: 60px;
        border-radius: 10px;
        width: 214px;
        background-color: var(--primary-color);
        border: none;
        color: white;
        cursor: pointer;
        transition: var(--transition);

    }
    button:hover {
        background-color: var(--primary-shade);
    }
}

/* Hero section end  */

.betelhem{
    height: 100vh;
    width: 100%;
}

/* bethelhem end */

/* packages */
.fitsum1{
    background-color: #ECF1F0;
    display:flex;
    align-items: center;
    flex-direction: column;
    height:auto;
    h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 54.47px;
        text-align: center;
        margin: 50px 0px ;
    }

    /* list of packages */
    .packages{
        width: 100%;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;            
            gap: 100px;

            .package-li{
                height: 60px;
                border-radius: 10px;
                width: 180px;
                font-size: 20px;
                font-weight: 700;
                line-height: 27.24px;
                cursor: pointer;
                background-color:#666666;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
                margin-bottom: 100px;
            }
            .package-li:hover{
                transition: var(--transition);
                background-color: #000000c4;
            }
            .li-active{
                background-color: var(--primary-color);
            }
        }
        }

        /*cards container*/
        .cards{
            display: flex;
            align-items: center;
            gap:70px;
            margin-bottom: 70px;

            /* three cards*/
            .card{
                height: 489px;              
                width: 434px;                
                cursor: pointer;
                .img1{
                    background: url(assets/card-indonesia.png);
                    background-size: cover;
            
                    width: 434px;
                    height: 70%;
                    border-radius: 15px 15px 0px 0px;
                    background-color: pink;
                    
                }
                .img2{
                    background:url(assets/card-japan.png);
                }
                .img3{
                    background:url(assets/card-mountains.png);
                }

                /* details section on the card  */
                .details{
                   
                    width: 434px;
                    background-color: white;
                    border-radius: 0px 0px 15px 15px;
                    height: 176px;

                    .price{
                        display: flex;
                        justify-content: space-between;
                        padding:15px 0px;
                        font-size: 20px;
                      

                    }
                    p{
                        padding: 5px 20px;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 21.79px;



                    }
                    .location{
                        display: flex;
                        justify-content: space-between;
                        padding:15px 0px;
                        .loc{
                          font-weight: 600;
                          font-size: 20px;
                        }
                        .p-uncerline{
                        font-weight: 600;
                        text-decoration: underline;
                        }
                    }
       

                }
            }
            /* card hover effect */
            .card:hover{
                transition: all 0.3s ease;
                transform: scale(1.02);
            }
            
    }
    /* Discover more button */
    button{
        height: 70px;
        border-radius: 10px;
        width: 300px;
        margin: 50px 0px ;
        background-color: var(--primary-color);
        border: none;
        color: white;
        font-size: 24px;
        font-weight: 700;
        line-height: 32.68px;
        cursor:pointer;
    }
    button:hover{
        background-color: var(--primary-shade);
        transition: var(--transition);
    }
}
/* end of packages (.fitsum1) */
/* betelhem */
.services-section {
  margin-top: 60px;
  padding: 50px 20px;
  width: 100%;


  
}
h3{
  font-size: 40px;
  font-weight: 700;
  line-height: 54.47px;
  padding-bottom:40px;
  text-align: center;

}
.info-section {
  text-align: center;
  padding: 50px 20px;
  height: 60vh;
  position: relative;
  background: #0058530D;


  .world-map{
    position: absolute;
    top:50px;
    left:300px;
    width: 80%;
    height: auto;
    z-index: -3 ;
    display: flex;
    justify-content: center;
  }

  h2{
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.47px;
    
}
p{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: center;
}
} 

.services-container,
.info-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 30px;
}

.service-box {
  background-color: #F9F9F9;
  padding: 20px 30px;
  border-radius: 15px;
  height: 232px;
  width: 416px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  
  h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }
}
.hotel-booking{
  background-color: white;
  box-shadow: 0px 4px 16px 0px #00000026;

}



.sec-icon {
  margin-left: 5px;
}

.info-box {
  background-color: white;
  padding-top: 10px;
  border-radius: 15px;
  width: 250px;
  height: 250px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
}
p{
  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
}
 
 
}

.icon {
  align-content: left;
  font-size: 30px;
  margin-bottom: 10px;
}



h3 {
  margin: 10px 0;
}





.section-part {
  color: #555;
  font-size: 10px
}

/* betelhem end */
/* Melaku's secion  */
.melaku {

    /*background-color: #00A651;*/
    padding-right: 100px;
    height: auto;
    padding: 50px 0px;
    width: 100%;

    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 54.47px;
        text-align: center;
        margin-bottom: 50px;


    }

    .container {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .world-img {
        width: 50%;
        position: relative;

        .location{
            position: absolute;
            top: 403px;
            left: 392px;
        }

        .location2 {
            position: absolute;
            top: 490px;
            left: 489px;
        }

        .location3 {
            position: absolute;
            top: 671px;
            left: 681px;
        }

        .loc-border {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #646464;
            display: flex;
            justify-content: center;
            align-items: center;

            .loc-center {
                height: 12px;
                border-radius: 50%;
                width: 12px;
                background-color: #4992FF;
            }
        }
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-direction: column;
        width: 50%;
        height: 100%;

    }

    .list {

        box-shadow: 3px 3px 10px 0px #00000014;
        position: relative;
        border-radius: 10px;
        height: 223px;
        width: 659px;

        .right-list {
            height: 100%;
            margin-left: 223px;
            justify-content: space-evenly;
            display: flex;
            align-items: center;
        }

        img {
            width: 223px;
            height: 223px;
            top: 2616px;
            border-radius: 15px 0px 0px 15px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
/* Melaku's section end  */

/* start */
.yordanos{
  width: 100%;
  height: 100vh;
  background-color: #ECF1F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



}
.title{
  font-weight: 700;
  line-height: 54.47px;
  font-size: 30px;
  margin-top: -80px;
  margin-bottom: 80px;

}
.main-image{
  background-image: url(assets/about-us.png);
  width: 1228px;
  height: 536px;
  border-radius: 20px;
  
  position: relative;
  display: flex;
  justify-content: center;    

}
.comment{
  width: 738px;
  height: 250px;
  background-color: white;
  position: absolute;
  bottom: -125px;
  left:250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap:30px;

  p{
      width: 541px;
      height: 94px;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 50px;
  }
}
.comment-image{
  background-image: url(assets/joe-staniee.png);
  width:148px ;
  height: 148px;
  border-radius: 50%;
  position:absolute;
  top:335px;
}
.main-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;

  .left{
      position: absolute;
      left:0;
  }
  .right{
      position:absolute;
      right: 0;
  }
}
/* end */

.fotter{
  width: 100%;
  height: auto;
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  .subscribe{
    width: 1170px;
    height: 407px;
    border-radius: 129px 20px 20px 20px;
    background-color: hsla(168, 100%, 81%, 0.212);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin-bottom: 200px;
    .cross-overflow{
      position: absolute;
      bottom: -100px;
      right: -100px;
      z-index: -5;
    }

    p{
      height: 108px;
      width: 819px;
      font-size: 33px;
      font-weight: 600;
      line-height: 54px;
      text-align: center;
      color: #5E6282;

    }
  }

  .telegram-icon{
    height: 70px;
    width: 70px;
    position: absolute;
    top:-20px;
    right: -20px;

  }

  .subscribe-form{
    margin-top: 100px;
    display: flex;
    gap:50px;
    
    .input{
      height: 68px;
      width:421px; 
      position: relative;
      margin-right: 50px;
    }
    #input{
      height: 68px;
      width:421px;
      border-radius: 10px;
      border:none;
      padding-left: 70px;
    }

    input::placeholder{
      font-size: 20px;
    font-weight: 400;
    line-height: 17.07px;
    font-family: Montserrat;
    }

    .icon{
      position: absolute;
      top: 10px;
      left: 20px;
    }
    button{
      width: 180px;
      height: 68px;
      border-radius: 10px;
      color: white;
      background-color: #00A651;
      border: none;
      font-size: 17px;
      font-weight: 600;
      line-height: 23.15px;



    }
  }

  .fotter-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 150px;
    width: 100%;
    
.footer-same {
  display:flex;
  gap :150px;
  
}
.footer-same h2 {
  margin-bottom:50px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26.15px;

}
.footer-column h1 {
  margin-bottom:20px;
  color: #333;
  text-align: center;

}

.footer-column p,
.footer-column ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #555;
}

.footer-column ul li {
  margin: 5px 0;
  margin-bottom:20px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #555;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  color: #777;
}


  }

  .footer-icon{

    width: 300.81px;
    height: auto;
    .icons{
      width: 100%;
      display: flex;
      gap: 15px;
      align-items: center;
    }
    .twitter{
      background-color: white;
      border-radius: 50%;
      height: 57.63px;
      width: 57.63px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 10px 0px #0000001A;


    }

    p{
      font-size: 20px;
      font-weight: 400;
      line-height: 24.9px;
      letter-spacing: 0.005em;
      margin: 25px 0px;
    }
  }

 p{
   font-size: 14px;
   font-weight: 400;
   line-height: 17.43px;
 }
}






/* Aymen's section */
.Aymen{
  padding-left: 50px;}
.book-next-trip {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 703px;
    height: 54px;
    margin: 62px 0 0 512px;
    color: #000000;
    font-family: Open Sans, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    white-space: nowrap;
    z-index: 79;
  }
  .easy-fast {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 152px;
    height: 33px;
    margin: 0 0 0 788px;
    color: #000000;
    font-family: Open Sans, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 32.684px;
    text-align: center;
    white-space: nowrap;
    z-index: 118;
  }
  .flex-row-35 {
    position: relative;
    width: 1147px;
    height: 466.942px;
    margin: 62px 0 0 290px;
    z-index: 175;
  }
  .ellipse-36 {
    position: absolute;
    width: 354px;
    height: 367px;
    top: 0;
    left: 722px;
    background: url(./assets/1e77ca83-0c32-418e-bc28-4c3b89bf5d40.png)
      no-repeat center;
    background-size: cover;
    filter: blur(75px);
    z-index: 123;
  }
  .rectangle-37 {
    position: absolute;
    width: 370px;
    height: 400px;
    top: 59px;
    left: 662px;
    background: #ffffff;
    z-index: 126;
    border-radius: 26px;
    box-shadow: 0 1.852px 3.148px 0 rgba(0, 0, 0, 0);
  }
  .rectangle-38 {
    position: relative;
    width: 321px;
    height: 161px;
    margin: 20px 0 0 25px;
    background: url(./assets/bdc4e9e798bb7e15ae87fe31c13c5b3cc6d31461.png)
      no-repeat center;
    background-size: cover;
    z-index: 148;
    border-radius: 24px;
  }
  .trip-to-greece {
    display: block;
    position: relative;
    height: 22px;
    margin: 26px 0 0 25px;
    color: #080808;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.27px;
    z-index: 149;
  }
  .flex-row-fba {
    position: relative;
    width: 242px;
    height: 20px;
    margin: 13px 0 0 25px;
    z-index: 150;
  }
  .june {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20px;
    top: 0;
    left: 0;
    color: #84829a;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.92px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.08px;
    z-index: 146;
  }
  .robbin-joseph {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20px;
    top: 0;
    left: 104px;
    color: #84829a;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.92px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.08px;
    z-index: 147;
  }
  .line {
    position: absolute;
    width: 1px;
    height: 16px;
    top: 1px;
    left: 91px;
    background: url(./assets/99d3a232-8d85-4271-b6b4-4d179ac54759.png)
      no-repeat center;
    background-size: cover;
    z-index: 150;
  }
  .flex-row-e-39 {
    position: relative;
    width: 139px;
    height: 36px;
    margin: 21px 0 0 28px;
    z-index: 140;
  }
  .ellipse-3a {
    position: absolute;
    width: 25.9%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/9c33d7cc-6c6b-46aa-966b-ff954f707fb4.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 129;
    border-radius: 50%;
  }
  .ellipse-3b {
    position: absolute;
    width: 25.9%;
    height: 100%;
    top: 0;
    left: 38.85%;
    background: url(./assets/6a909712-ba22-4f00-85ad-a11762f6da09.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 139;
    border-radius: 50%;
  }
  .send {
    position: absolute;
    width: 25.9%;
    height: 100%;
    top: 0;
    left: 74.1%;
    background: url(./assets/d47d14e7-297d-46ae-acfb-f952ac014b66.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 137;
  }
  .map {
    position: absolute;
    width: 10.07%;
    height: 38.89%;
    top: 30.56%;
    left: 46.04%;
    z-index: 140;
    overflow: hidden;
  }
  .group-3c {
    position: relative;
    width: 14px;
    height: 14px;
    margin: 0 0 0 0px;
    z-index: 141;
  }
  .group-3d {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 142;
  }
  .vector-3e {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/475cd234-efe6-4ded-8346-ee09674ca062.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 143;
  }
  .leaf {
    position: absolute;
    width: 10.07%;
    height: 38.89%;
    top: 33.33%;
    left: 7.91%;
    z-index: 130;
    overflow: hidden;
  }
  .group-3f {
    position: absolute;
    width: 99.66%;
    height: 100%;
    top: 0;
    left: 0.17%;
    z-index: 131;
  }
  .group-40 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 132;
  }
  .vector-41 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/693b1bb9-2b5a-41ea-92f2-255450f40739.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 133;
  }
  .group-42 {
    position: absolute;
    width: 77.55%;
    height: 76.15%;
    top: 16.41%;
    left: 17.66%;
    z-index: 134;
  }
  .group-43 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 135;
  }
  .vector-44 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/d70110ca-0d83-41d9-9211-501810249bdb.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 136;
  }
  .flex-row-d {
    position: relative;
    width: 320px;
    height: 21px;
    margin: 29px 0 0 25px;
    z-index: 162;
  }
  .building {
    position: absolute;
    width: 5%;
    height: 76.19%;
    top: 0;
    left: 0;
    background: url(./assets/c96f9bb0-14d2-40b4-acf9-98ffcda544eb.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 144;
  }
  .people-going {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20px;
    top: 1px;
    left: 31px;
    color: #84829a;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.92px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.32px;
    z-index: 145;
  }
  .vector-45 {
    position: absolute;
    width: 20px;
    height: 18.585px;
    top: 1.708px;
    left: 300px;
    background: url(./assets/bc2db8b4-0058-4f9c-8a53-2ab8c4f54da0.png)
      no-repeat center;
    background-size: cover;
    z-index: 162;
  }
  .choose-destination {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 27.747px;
    top: 66px;
    left: 94.339px;
    color: #5e6282;
    font-family: Open Sans, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.92px;
    text-align: left;
    white-space: nowrap;
    z-index: 164;
  }
  .group-46 {
    position: absolute;
    width: 65.205px;
    height: 66.592px;
    top: 71.549px;
    left: 0;
    background: url(./assets/0a6b670f-e6c4-49c0-9864-099416bf29c5.png)
      no-repeat center;
    background-size: cover;
    z-index: 163;
  }
  .lorem-ipsum {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 453.661px;
    height: 55.494px;
    top: 99.296px;
    left: 94.339px;
    color: #5e6282;
    font-family: Open Sans, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.92px;
    text-align: left;
    text-overflow: initial;
    z-index: 165;
    overflow: hidden;
  }
  .make-payment {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 27.747px;
    top: 221.382px;
    left: 94.339px;
    color: #5e6282;
    font-family: Open Sans, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.92px;
    text-align: left;
    white-space: nowrap;
    z-index: 174;
  }
  .group-47 {
    position: absolute;
    width: 65.205px;
    height: 66.592px;
    top: 226.932px;
    left: 0;
    background: url(./assets/afd35997-d038-4040-b09a-d420845fedc0.png)
      no-repeat center;
    background-size: cover;
    z-index: 175;
  }
  .lorem-ipsum-48 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 453.661px;
    height: 55.494px;
    top: 254.679px;
    left: 94.339px;
    color: #5e6282;
    font-family: Open Sans, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.92px;
    text-align: left;
    text-overflow: initial;
    z-index: 173;
    overflow: hidden;
  }
  .rectangle-49 {
    position: absolute;
    width: 263px;
    height: 129px;
    top: 278px;
    left: 884px;
    background: #ffffff;
    z-index: 152;
    border-radius: 18px;
    box-shadow: 0 1.852px 3.148px 0 rgba(0, 0, 0, 0);
  }
  .flex-row-ff {
    position: relative;
    width: 168px;
    height: 52px;
    margin: 16px 0 0 20px;
    z-index: 157;
  }
  .ongoing {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 0;
    left: 62px;
    color: #84829a;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.49px;
    z-index: 157;
  }
  .ellipse-4a {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2px;
    left: 0;
    background: url(./assets/6947ea35-412c-4207-ba20-eb3e73054773.png)
      no-repeat center;
    background-size: cover;
    z-index: 155;
    border-radius: 50%;
  }
  .mask-group {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2px;
    left: 0;
    background: url(./assets/72fecdaa-0141-4b8d-ad71-767acbb82ffe.png)
      no-repeat center;
    background-size: cover;
    z-index: 156;
  }
  .trip-to-rome {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 23px;
    left: 61px;
    color: #080808;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.27px;
    z-index: 153;
  }
  .percent-completed {
    position: relative;
    width: 101px;
    height: 17px;
    margin: 7px 0 0 80px;
    font-family: Gilroy-ExtraBold, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    letter-spacing: -0.77px;
    z-index: 154;
  }
  .percent {
    position: relative;
    color: #8a79df;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.43px;
    text-align: left;
    letter-spacing: -0.77px;
  }
  .completed {
    position: relative;
    color: #080808;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.43px;
    text-align: left;
    letter-spacing: -0.77px;
  }
  .group-4b {
  position: relative;
  width: 156px;
  height: 5px;
  margin: 10px 0 0 82px;
  background: url(./assets/4ecb185e-029c-4957-a0cf-2076b7821781.png)
    no-repeat center;
  background-size: cover;
  z-index: 158;
  border-radius: 30px;
}
.reach-airport {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 5.94%;
  top: 80.69%;
  left: 8.22%;
  color: #5e6282;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.92px;
  text-align: left;
  white-space: nowrap;
  z-index: 172;
}
.rectangle-4c {
  position: absolute;
  width: 5.68%;
  height: 14.26%;
  top: 81.88%;
  left: 0;
  background: #006380;
  z-index: 168;
  border-radius: 13px;
}
.taxi-car-cab {
  position: relative;
  width: 31.215px;
  height: 26.013px;
  margin: 21.677px 0 0 17.689px;
  background: url(./assets/cfde8e6f-2b44-458e-8798-5ff2710224c1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 170;
}
.lorem-ipsum-4d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 453.661px;
  height: 11.88%;
  top: 88.12%;
  left: 8.22%;
  color: #5e6282;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.92px;
  text-align: left;
  text-overflow: initial;
  z-index: 171;
  overflow: hidden;
}

/* Aymen's section end  */



/* media query */

